go 1.19

use (
	coarsetime
	cryptutils
	datastructures
	finder
	gomod
	gorm-datatype
	gorm-pure-sqlite
	httprouter
	httputils
	jsonutils
	jwt
	memory-fs
	password
	pool
	pyrokinesis
	random
	rogu
	sitemap
	strong
	strutils
)
