go 1.26

use (
	buffer
	bunpgd
	cidr
	coarsetime
	cryptutils
	debugger
	gomod
	gorm-datatype
	httputils
	jsonutils
	jwt
	password
	pool
	pyrokinesis
	random
	rogu
	sitemap
	slog-attr
	strong
	strutils
)
